<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname="http://www.lexueba.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.lexueba.com/schema/user http://www.lexueba.com/schema/user.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy/>

    <!--可用于代替InitializingBean和DisposableBean接口-->
    <bean id="userBean" class="com.tongyuan.testSpring.UserBean" init-method="init" destroy-method="cleanup">
        <property name="username" value="zcy" />
        <property name="email" value="777777"/>
    </bean>

    <bean id="userFactoryBean" class="com.tongyuan.testSpring.UserFactoryBean">
    </bean>


    <bean id="roomFactoryBean1" class="com.tongyuan.testSpring.RoomFactoryBean">
    </bean>

    <bean id="roomFactoryBean2" class="com.tongyuan.testSpring.RoomFactoryBean">
    </bean>

    <!-- 引入属性配置文件 -->
    <bean class="com.tongyuan.util.PropertiesUtil">
        <property name="locations">
            <list>
                <value>isoa.properties</value>
            </list>
        </property>
    </bean>

    <myname:user id="testbean" username="zzz" email="bbb"/>

    <bean class="com.tongyuan.testSpring.A" id="a">
        <property name="b" ref="b"/>
        <property name="name" value="this is a"/>
    </bean>

    <bean class="com.tongyuan.testSpring.B" id="b">
        <property name="a" ref="a"/>
        <property name="name" value="this is b"/>
    </bean>

    <bean class="com.tongyuan.aop.Calculator" id="calculator">
    </bean>

    <bean class="com.tongyuan.aop.LogAspect"></bean>

    <bean class="com.tongyuan.aop.PrivilegeAspect"></bean>
    <!--<bean class="com.tongyuan.testAop.PrivilegeManager" id="manager1">-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<value>insert</value>-->
                <!--<value>admin</value>-->
            <!--</list>-->
        <!--</constructor-arg>-->
    <!--</bean>-->
    <bean class="com.tongyuan.testAop.PrivilegeManager" id="manager2">
        <constructor-arg>
            <list>
                <value>update</value>
                <value>insert</value>
            </list>
        </constructor-arg>
    </bean>
    <bean id="userService" class="com.tongyuan.service.UserService">
    </bean>

</beans>